# Dependency directories
**/node_modules/
**/dist/
**/build/

# Local configuration / Environment variables
**/.env
**/.env.local
**/.env.*.local

# Logs and databases
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/*.log
**/backup.json
**/firebase-credentials.json
**/*.local.json

# IDE / OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
